<% layout("layouts/boilerplate") %>


    <div class="container_card">

        <div class="card">
            <br><br>

            <% for (let blog of allBlogs) { %>

                <div class="inner_card">
                    <a class="tittle" href="/blogs/<%= blog._id %>">
                        <h3>
                            <%= blog.title %>
                        </h3>
                    </a>
                    <br>
                    <p class="name"><%=blog.author%></p>
                    

                    <p class="blog_content"><%= blog.content %></p>
                    
                     





                    <form action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
                        <button class="button">Delete</button>
                    </form>
                    <hr>
                </div>

                <% } %>

        </div>
    </div>